mixin pagination(page, pages, count)
	.pagination
		.pagination__prev
			if page > 1
				a(href=`/stores/page/${page - 1}`) Prev
		.pagination__next
			p Page #{page} of #{pages} - #{count} Total results
		.pagination__text
			if page < pages
				a(href=`/stores/page/${parseFloat(pgae) + 1}`) Next